.App {
  text-align: center;
}

.style2 {
  height: 200px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.navbar-bg-color {
  background-color: #1f2058;
}
.nav-text:focus {
  color: #c5c0c0 !important;
  font-weight: 700;
}
.nav-text {
  color: #ffffff !important;
  font-weight: 600;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.bg-login {
  background-color: #f4f4f4 !important;
}
.border-left {
  border-left: 3px solid rgb(255, 255, 255) !important;
  height: px;
}
.btn-secondary {
  background-color: #1f2058 !important;
  border: 0px solid #1f2058;
}
.home-bg {
  background-color: #0c0c93;
  background-image: url(./logo/banner-journal.jpg);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lightgray {
  background-color: lightgray;
}
.line-height {
  line-height: 150% !important;
}
.verticalline {
  border-left: 2px solid rgb(90, 90, 90);
  height: 440px;
}
.textDecoration {
  font-size: 1.2rem;
}

.textDecoration:hover {
  color: rgb(235, 205, 194) !important;
  text-decoration: none;
}
.opacity {
  opacity: 1;
}
#myBtn:enabled {
  background-color: #0926ff; /* Blue */
  color: #ffffff; /* White */
}

/* Styles for disabled button */
#myBtn:disabled {
  background-color: #b7a2a2; /* Grey */
  color: #0c0c0c; /* White */
}

.primary-button {
  background-color: #1e90ff; /* or #006400 for green */
  color: #ffffff;
}

.secondary-button {
  background-color: #cccccc;
  color: #000000;
}

.register-button {
  background-color: #ffa500; /* or #FF4500 for orange */
  color: #ffffff;
}

.font-weight-bold label {
  font-size: 17px !important;
}

.custom-textarea {
  background-color: #d7d5d5;
}
.bg-color-change {
  background-color: hsl(219, 93%, 48%);
}
.bg-gray{
  background-color: hsl(216, 42%, 95%);
}

.toggle-icon {
  cursor: pointer;
}
